.navbar {
	display: flex;
	justify-content: space-between;
	padding: 8px;
	background: #000;
	border-bottom: 1px solid #ffbb33;
}

.list {
	margin: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.logo {
	width: 240px;
}

.item {
	margin-left: 32px;
}

.item a {
	color: #fff;
	text-decoration: none;
	transition: 5ms;
}

.item a:hover {
	color: #ffbb33;
}